<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="de.gesellix.docker.client" level="DEBUG"/>
<!--  <logger name="de.gesellix.docker.engine" level="DEBUG"/>-->
  <logger name="de.gesellix.docker.client.filesocket" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
