---
name: CI
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
jobs:
  ci-build:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        java: [ 8, 17 ]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Set up JDK
        uses: actions/setup-java@v3.13.0
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}
          cache: 'gradle'
      - name: Install Docker on macOS
        if: matrix.os == 'macos-latest'
        uses: ./.github/actions/docker-install-macos
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: docker version
        run: docker version
      - name: docker info
        run: docker info
      - name: java version
        run: java -version
#      - name: Debug
#        run: ./gradlew checkDockerClient --info --stacktrace
      - name: clean build
        run: ./gradlew clean build --info --stacktrace
      - name: Upload Test Results
        # see publish-test-results.yml for workflow that publishes test results without security issues for forks
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: test-results
          path: '**/build/test-results/test/TEST-*.xml'
...
