---
name: CI
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
jobs:
  event-file:
    # https://github.com/marketplace/actions/publish-test-results#support-fork-repositories-and-dependabot-branches
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
      - name: Upload
        uses: actions/upload-artifact@v5
        with:
          name: event-file
          path: ${{ github.event_path }}
  ci-build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-15-intel
        java:
          - '21'
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Set up JDK
        uses: actions/setup-java@v5.0.0
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Install Docker on macOS
        if: matrix.os == 'macos-15-intel'
        uses: douglascamata/setup-docker-macos-action@v1.0.1
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
#      - name: Debug
#        run: ./gradlew checkDockerClient --info --stacktrace
      - name: clean build
        run: ./gradlew clean build --info --stacktrace
      - name: Upload Test Results
        # see publish-test-results.yml for workflow that publishes test results without security issues for forks
        # https://github.com/marketplace/actions/publish-test-results#support-fork-repositories-and-dependabot-branches
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: Test Results (Java ${{ matrix.java }} on ${{ matrix.os }})
          path: '**/build/test-results/test/TEST-*.xml'
...
